html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text align: center;
    background-color: salmon;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    color: white;
    font-size: 100px;
    text-align: center;
}

p{
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.movie1, .movie2, .movie3 {
    background-color: salmon;
    border-radius: 10px;
    padding: 20px;
    margin-bottom:30px;
}

.movie1 img, .movie2 img, .movie3 img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.movie1 h2, .movie2 h3, .movie3 h4 {
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.movie1 p, .movie2 p, .movie3 p {
    font-size: 30px;
    text-align: center;
}